            * {
                padding: 0;
                margin: 0;
                border: 0;
            }
            
            body {
                display: grid;
                grid-template-rows: auto, repeat(10, 1fr);
            }
            /*---------NAV-----------*/
            
            nav {
                display: grid;
                justify-items: center;
                align-items: center;
                background-color: grey;
                height: 100px;
            }
            
            ul {
                display: grid;
                grid-template-columns: repeat(7, auto) 1fr;
                gap: 20px;
            }
            
            li {
                background-color: rgb(75, 75, 75);
                height: 3rem;
                width: 6rem;
                border-radius: 10px;
                list-style: none;
            }
            
            li:hover {
                background-color: rgb(175, 175, 175);
            }
            
            #logo {
                background-color: rgb(57, 57, 57);
                width: 10rem;
            }
            
            #more {
                box-shadow: 0 3px 10px 2px white;
                background-color: rgb(57, 57, 57);
            }
            
            #more:hover {
                background-color: rgb(175, 175, 175);
            }
            
            #search-bar {
                position: relative;
                bottom: 4px;
                width: 20rem;
                padding: 5px;
                margin-left: 40px;
                box-shadow: 0 3px 10px 2px white;
                background-color: rgb(27, 27, 27);
            }
            /*---------SECTION-1-----------*/
            
            #sect-1 {
                display: flex;
            }
            
            #sq-1 {}